/node_modules
/.pnp
.pnp.js

*.log
/dist

/coverage

.idea/
.vscode/
*.swp
*.swo

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

/vue.config.js
/.vuepress/cache/

.cache/
.nuxt/
.next/

*.tmp
*.temp

logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
