/node_modules
/.pnp
.pnp.js

*.log
/dist

/coverage

.idea/
.vscode/
*.swp
*.swo

.env
.env.local
.env.*.local

.DS_Store
Thumbs.db

/vue.config.js
/.vuepress/cache/

.cache/
.nuxt/
.next/

*.tmp
*.temp