@import './base.css';
@import "tailwindcss";
@import 'primeicons/primeicons.css';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--surface-ground);
  color: var(--text-color);
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
