@import './base.css';
@import 'tailwindcss';
@import 'primeicons/primeicons.css';

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--p-surface-ground);
  color: var(--p-text-color);
}

#app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: var(--p-primary-color);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: var(--p-primary-50);
  }
}
